
/* فهرست
A / common styles
B / General Styles 
C / Header
D / Sections
      1 - Home section 
      2 - About section 
      3 - Portofolio section 
      4 - Services section 
      5 - Prices section 
      6 - Team section 
      7 - Blog section 
      8 - contact section       
H ) Footer            
*/

/* A / common 
1-container 
2-oppacity hover
3-section header 
4- section padding
5- hover effect left to right 
6 - hover efect top to right 
7 - overlay
*/

/* B / General section */
*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
button{
    font-family: inherit;
    
}
.opcity-hover{
    transition: opacity.5s;
}
.opcity-hover:hover{
    opacity: 0.6;
}

.head-section{
    text-align: center;
    margin-bottom: 20px;
}
.head-section .title-section{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.head-section .line{
    height:  3px;
    width:  75px;
    background-color: #6195ff;
    display: block;
    margin: 35px auto 70px auto;
}
.ltr-effect{
position: relative;

}
.ltr-effect:after{
    content: "";
    width: 0%;
    background-color: #333;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    transition: width 0.1s;
    position: absolute;
    z-index: -1;

}

.about-item:hover.ltr-effect:after {

width:100%;
}
/* .container{
    overflow: hidden;
} */

/* C header*/
.header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #333333;
}
.header .container{
    width: 80%;
    height: 20%;
    margin: auto;
}
.header .container .logo{
    width: 40%;
    float: left;
}
.header .container ul {
    width: 60%;
    float: left;
}
.header .clear{
    clear: both; 
} 
/* solve overflow probleme */
.container .logo img{
    width: 25%;
    margin-top: 8px;
}
.header .nav{
    list-style: none;
    margin-top: 10px;
    text-align: right;
}
.header .nav > li{
    display: inline-block;
    text-align: right;
}
.header .nav > li a {
    text-decoration: none;
    color: white;
    padding: 20px 14px;
        display: block;
        font-size: 14px;

}
.header .nav > li > a::after,.header .nav > li > a.active::after {
    content: "";
    background-color:#6195ff;
    height: 3px;
    display: block;
    transition: width.5s;
}
.header .nav > li > a::after{
    width: 0%;
}
.header .nav > li > a.active::after {
    width: 100%;
}


.header .nav > li > a:hover::after {  
    width: 100%;   
}
 .dropdown-menu .dropdown {
    display: block;
    padding: 3px;
    position: absolute;
    
   
}
 .dropdown-menu{
    position: relative;
    
} 
.dropdown-menu .dropdown li {
    width: 70px;
    background-color: #6195ff;
    text-align: center;
    top: -200%;
    left: -27%;
    position: absolute;
}
.dropdown-menu .dropdown {
    visibility: hidden;
    opacity: 0; 
    list-style-type: none;   
}

.dropdown-menu .dropdown li a {
    text-decoration: none;
    display: block;
    width: 70px;
}
.dropdown-menu:hover.dropdown-menu .dropdown{
    visibility: visible;
    opacity: 1;
}

/* D-1 Home section*/
.home{
    background-image: url(../images/background/background1.webp);
    height: 100vh;
    background-size: cover;
    position: relative;
}
.overlay {
    background-color:rgba(0, 0,0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home .homecontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.home .homecontent .title {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
}
.home .homecontent .descr {
    color: white;
    font-size: 20px;
    margin: 20px 0px;
    letter-spacing: 2px;
    opacity: 0.9;
}
.home .homecontent .btn {
    min-width: 150px;
    padding-bottom: 9px;
    padding: 9px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 16;
}
.home .homecontent .startbutton {
   background-color: white;
   margin-right: 10px;
   color: black;
}
.home .homecontent .learnbutton {
    background-color:#6195ff ;
    color: white;
 }
 /* about section */
 .about{
padding-top:  120px; 
padding-bottom: 410px;
 }
 .about-item{
    float: left;
    width: 30%;
    text-align: center;
    text-transform:capitalize ;
    padding : 30px 15px;
    border-width: 1px;
    border-color: #e8e8e8;
    border-style: solid;
 }
  .about-content{
    float: left;
 }
  
  .about-item.ng{
    margin: 0  3%;
  }
  .about-item .fa-mobile , 
  .about-item .fa-magic , 
  .about-item .fa-cogs{
    margin-bottom: 10px;
    color: #6195ff;
  }
  .about-item .about-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  .about-item .about-item-descr{
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  .about-item-link{
    text-transform: capitalize;
    color:#6195ff;
  }
  .container2{
    padding-left: 40px;
  }